/**center h1 and button*/
h1 {
  text-align: center;
}
/**center button*/
button {
  display: block;
  margin: 0 auto;
}
/**make img small*/
img {
  width: 250px;
  height: 250px;
}

/**make button big*/
button {
  font-size: 1.5em;
}

/**add space between img and button*/
button {
 padding: 20px;
 margin-top: 5em;
 
}

/**make h1 big*/
h1 {
  font-size: 5em;
}
/**make it colorful*/
h1 {
  color: #ff0000;
}

/**make button background blue, text white*/
button {
  background-color: #0000ff;
  color: #ffffff;
}

/**center img*/
img {
  display: block;
  margin: 0 auto;
}

/**make the button look cool*/
button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #0000ff;
  color: #ffffff;
  font-size: 1.5em;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

